*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    background: url(To-do-background.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checked{
    display: none;
}
.header{
    width: 400px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
.container{
    background: bisque;
    padding: 60px 40px;
}
.container input{
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 5px;
}
.container ol{
    /* list-style: none; */
    width: 50px;
}
button{
    display: inline-block;
    padding: 12px 30px;
    color: black;
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 10px;
    transition: .6s linear;
    font-weight: bold;
}
button:hover{
    background: bisque;
    color:black;
}